{% extends 'base.html' %}
{% block content %}

<h1>Shoe List</h1>

{% for shoe in shoes %}
  <div class="card">
    <a href="{% url 'detail' shoe.id %}">
    <div class="card-content">
      <span class="card-title">{{ shoe.model }}</span>
      <p>Brand: {{ shoe.brand }}</p>
      <p>Color: {{ shoe.color }}</p>
      {% if shoe.price < 99999.00 %}
        <p>Price: ${{ shoe.price }}</p>
      {% else %}
        <p>Price: Way Over Priced!</p>
      {% endif %}
    </div>
    </a>
  </div>
{% endfor %}

{% endblock %}